<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible"
          content="ie=edge">
    <title>Főoldal</title>
    <link rel="stylesheet"
          href="/design/index.css">
</head>

<body>
    <div class="header">
        <div class="navbar"
             id="nav">

            <ul>
                <li><a href="andi.html">Andi</a></li>
                <li><a href="tina.html">Tina</a></li>
                <li><a href="sara.html">Sára</a></li>
                <li><a href="tomi.html">Tomi</a></li>
                <li><a href="szilvi.html">Szilvi</a></li>
            </ul>
        </div>
    </div>

   


    <div class="bekezdes">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde
        perferendis doloremque nobis dolor magnam nisi rerum autem quae
        tempore enim minima totam aut ea odit dignissimos laudantium fugiat,
        deserunt repellendus.Lorem ipsum dolor sit, amet consectetur
        adipisicing eliferendis doloremque nobis dolor magnam nisi rerum autem
        quae
        tempore enim minima totam aut ea odit dignissimos laudantium fugiat,
        deserunt repellendus.Lorem ipsum dolor sit, amet consectetur
        adipisicing elit. Unde perferendis doloremque nobis dolor magnam
        nisi rerum autem quae tempore enim minima totam aut ea odit
        dignissimos laudantium fugiat, deserunt repellendus.Lorem ipsum
        dolor sit, amet consectetur adipisicing elit. Unde perferendis
        doloremque nobis dolor magnam nisi rerum autem quae tempore enim
        minima totam aut ea odit dignissimos laudantium fugiat, deserunt
        repellendus.Lorem ipsum dolor sit, amet consectetur adipisicing
        elit. Unde perferendis doloremque nobis dolor magnam nisi rerum
        autem quae tempore enim minima totam aut ea odit dignissimos
        laudantium fugiat, deserunt repellendus.Lorem ipsum dolor sit, amet
        consectetur adipisicing elit. Unde perferendis doloremque nobis
        dolor magnam nisi rerum autem quae tempore enim minima totam aut ea
        odit dignissimos laudantium fugiat, deserunt repellendus.Lorem ipsum
        dolor sit, amet consectetur adipisicing elit. Unde perferendis
        doloremque nobis dolor magnam nisi rerum autem quae tempore enim
        minima totam aut ea odit dignissimos laudantium fugiat, deserunt
        repellendus.Lorem ipsum dolor sit, amet consectetur adipisicing
        elit. Unde perferendis doloremque nobis dolor magnam nisi rerum
        autem quae tempore enim minima totam aut ea odit dignissimos
        laudantium fugiat, deserunt repellendus.Lorem ipsum dolor sit, amet
        consectetur adipisicing elit. Unde perferendis doloremque nobis
        dolor magnam nisi rerum autem quae tempore enim minima totam aut ea
        odit dignissimos laudantium fugiat, deserunt repellendus.Lorem
        ipsferendis doloremque nobis dolor magnam nisi rerum autem quae
        tempore enim minima totam aut ea odit dignissimos laudantium fugiat,
        deserunt repellendus.Lorem ipsum dolor sit, amet consectetur
        adipisicing elit. Unde perferendis doloremque nobis dolor magnam
        nisi rerum autem quae tempore enim minima totam aut ea odit
        dignissimos laudantium fugiat, deserunt repellendus.Lorem ipsum
        dolor sit, amet consectetur adipisicing elit. Unde perferendis
        doloremque nobis dolor magnam nisi rerum autem quae tempore enim
        minima totam aut ea odit dignissimos laudantium fugiat, deserunt
        repellendus.Lorem ipsum dolor sit, amet consectetur adipisicing
        elit. Unde perferendis doloremque nobis dolor magnam nisi rerum
        autem quae tempore enim minima totam aut ea odit dignissimos
        laudantium fugiat, deserunt repellendus.Lorem ipsum dolor sit, amet
        consectetur adipisicing elit. Unde perferendis doloremque nobis
        dolor magnam nisi rerum autem quae tempore enim minima totam aut ea
        odit dignissimos laudantium fugiat, deserunt repellendus.Lorem ipsum
        dolor sit, amet consectetur adipisicing elit. Unde perferendis
        doloremque nobis dolor magnam nisi rerum autem quae tempore enim
        minima totam aut ea odit dignissimos laudantium fugiat, deserunt
        repellendus.Lorem ipsum dolor sit, amet consectetur adipisicing
        elit. Unde perferendis doloremque nobis dolor magnam nisi rerum
        autem quae tempore enim minima totam a</div>


    <script src="/scripts/szilvi.js"></script>
    <script src="/scripts/nb1.js"></script>
    <script>
        var nav = document.getElementById('nav');
        window.onscroll = function () {
            if (window.pageYOffset > 100) {
                nav.style.background = "#009cab";
                nav.style.boxShadow = "0px 4px 2px; blue";
            } else {
                nav.style.background = "transparent";
                nav.style.boxShadow = "none";
            }
        }
    </script>
</body>

</html>