<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible"
          content="ie=edge">
    <title>Főoldal</title>
    <link rel="stylesheet"
          href="/design/index.css">
</head>

<body>
    <div class="header">
        <div class="navbar"
             id="nav">

            <ul>
                <li><a href="andi.html">Andi</a></li>
                <li><a href="nb1_Tina.html">Tina</a></li>
                <li><a href="sara.html">Sára</a></li>
                <li><a href="tomi.html">Tomi</a></li>
                <li><a href="szilvi.html">Szilvi</a></li>
            </ul>
        </div>
    </div>




    <div class="bekezdes">
        
        <!-- innen jöhet a tartalom-->
        
        
        
    <p id="indexSzoveg">
            LEGFRISSEBB HÍREK <br>
            
    2019. 06. 23. 18:39
    NB1
    <br>
    <br>
    Játszott a híres magyar-norvégon, most a Fradihoz igazolhat <br>
    Újabb erősítés a láthatáron? <br>
    2019. 06. 23. 17:56 <br>
    <hr>
    <br>
    HAZAI
    <br> 
    "Felrobbantották" az ultrák a Haladás stadionját - videó <br>
    A 100. szülinapot ünnepelték! <br>
    2019. 06. 23. 16:39
    NB1
    <br>
    <hr>
    <br>
    Újpesti címerharc: <br>
    komoly fordulat, ismét üzentek az ultrák <br>
    Újabb felszólítást adtak - az Újpest FC reagált! <br>
    2019. 06. 23. 15:37 <br>
    NB1
    <br><hr><br>
    Gróf Dibuszról, a Fradi-címerről és a jövőről <br>
    Lanzafaméval megegyeztek valamiben. <br>
    2019. 06. 23. 10:07 <br>
    NB2
  
   
        
    </p>
    
    
    
        <!-- idáig jöhet a tartalom-->
    
    </div>
 <footer>

       
                <div>
        
                    <ul>
                        <li><a>Elérhetőségek</a></li>
                        <li><a>Cím: 1122 Budapest, Kiss J. u. 24/a</a></li>
                        <li><a>Tel: 06 20 234 56 78</a></li>
                        <li><a>Email: nb1@nb1.hu</a></li>
                        
                    </ul>
                </div>
          
    </footer>

    <script src="/scripts/szilvi.js"></script>
    <script src="/scripts/nb1.js"></script>
    <script>
        var nav = document.getElementById('nav');
        window.onscroll = function () {
            if (window.pageYOffset > 100) {
                nav.style.background = "#009cab";
                nav.style.boxShadow = "0px 4px 2px; blue";
            } else {
                nav.style.background = "transparent";
                nav.style.boxShadow = "none";
            }
        }
    </script>

   
</body>

</html>