<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Csapatok</title>
    <link rel="stylesheet" type="text/css" href="../design/nb1_Tina.css" />
</head>

<body class="background">
        <div>
                <div class="navbar"
                     id="nav">
        
                    <ul>
                        <li><a href="andi.html">Andi</a></li>
                        <li><a href="sara.html">Sára</a></li>
                        <li><a href="tomi.html">Tomi</a></li>
                        <li><a href="szilvi.html">Szilvi</a></li>
                    </ul>
                </div>
            </div>

    <select id="selectedTeam" onchange="selection(); irdKiKekBuborekba();">
        <option>Válassz ki egy csapatot!</option>
        <option>Balmazújváros FC</option>
        <option>Újpest FC</option>
        <option>Paksi FC</option>
        <option>Szombathelyi Haladás</option>
    </select>

   
    <span id="kapus">kapus</span>
    <span id="baloldalivedo">bal oldali védő</span>
    <span id="kozepsovedo">középső védő</span>
    <span id="vedekezokozeppalyas">védekező középpályás</span>
    <span id="jobboldalivedo">jobb oldali védő</span>
    <span id="belsokozeppalyas">belső középpályás</span>
    <span id="jobboldalikozeppalyas">jobb oldali középpályás</span>
    <span id="baloldalikozeppalyas">bal oldali középpályás</span>
    <span id="tamadokozeppalyas">támadó középpályás</span>
    <span id="kozepcsatar">középcsatár</span>
    <span id="balszelso">bal szélső</span>
    <span id="jobbszelso">jobb szélső</span>


    <script src="../scripts/nb1.js"></script>
    <script src="../scripts/foci_Tina.js"></script>
</body>

</html>