<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Csapatok</title>
    <link rel="stylesheet" type="text/css" href="nb1.css" />
</head>

<body class="background">
    <select id="selectDoboz">
        <option value="vasas">Vasas FC</option>
        <option value="fradi">Ferencvárosi TC</option>
        <option value="loki">Debreceni VSC</option>
    </select>

    <script src="nb1.js"></script>
</body>

</html>