<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Csapatok</title>
    <link rel="stylesheet" type="text/css" href="../design/nb1_Tina.css" />
</head>

<body class="background">
    <select id="selectedTeam" onchange="selection(); irdKiKekBuborekba();">
        <option>Válassz ki egy csapatot!</option>
        <option id="fradi">Ferencvárosi TC</option>
        <option id="vasas">Vasas FC</option>
        <option id="ujpest">Újpest FC</option>
        <option id="honved">Budapest Honvéd FC</option>
        <option id="loki">Debreceni VSC</option>
    </select>

    <span id="kapus">kapus</span>
    <span id="baloldalivedo">bal oldali védő</span>
    <span id="kozepsovedo">középső védő</span>
    <span id="vedekezokozeppalyas">védekező középpályás</span>
    <span id="jobboldalivedo">jobb oldali védő</span>
    <span id="belsokozeppalyas">belső középpályás</span>
    <span id="jobboldalikozeppalyas">jobb oldali középpályás</span>
    <span id="tamadokozeppalyas">támadó középpályás</span>


    <script src="../scripts/nb1.js"></script>
    <script src="../scripts/foci_Tina.js"></script>
</body>

</html>