<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NBI</title>
    <link rel="stylesheet" type="text/css" href="/design/nb1.css">
</head>

<body>
    <div class="header">
        <div class="navbar" id="nav">

            <ul>
                <li><a href="andi.html">Andi</a></li>
                <li><a href="nb1_Tina.html">Tina</a></li>
                <li><a href="sara.html">Sára</a></li>
                <li><a href="tomi.html">Tomi</a></li>
                <li><a href="szilvi.html">Szilvi</a></li>
            </ul>
        </div>
    </div>

    <h1>NBI</h1>

    <h2>Csoportosíts!</h2>
    <h3>Klubbonként mutasd a játékosokat!
        </h3>
        <div>
            <button onclick="DrowGroupBy();">Csoportosíts!</button>
    </div>
    <ul id="csoportositasKlubbonkent"></ul>


    <h2>Keress!</h2>
    <h3>
        <label for="playerName">Add meg a keresendő játékos vezeték nevét, kiírom az adatait!</label>
        <input type="text" name="playerName" id="playerName" placeholder="Böde">
    </h3>
    <button type="button" onclick="DrawSomething();">Keress!</button>


    <ol id="jatekosFelsorolas"></ol>
    <div>
        <button onclick="YoungestPlayer()">Írd ki a legfiatalabb játékos nevét és születési idejét!</button>
    </div>
    <div>

        <button onclick="OldestPlayer()">Írd ki a legidősebb játékos nevét és születési idejét!</button>
    </div>
    <div>

        <button onclick="AverageAge()">Add meg az átlag életkort!</button>
    </div>
    <footer>

       
        <div>

            <ul id="footerID">
                <li><a>Elérhetőségek</a></li>
                <li><a>Cím: 1122 Budapest, Kiss J. u. 24/a</a></li>
                <li><a>Tel: 06 20 234 56 78</a></li>
                <li><a>Email: nb1@nb1.hu</a></li>
                
            </ul>
        </div>
  
</footer>

    <script type="text/javascript" src="/scripts/nb1.js"></script>
    <script type="text/javascript" src="/scripts/saraQueries_nb1.js"></script>
    <script type="text/javascript" src="/scripts/saraTestQueries_nb1.js"></script>
</body>

</html>