<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible"
          content="ie=edge">
    <title>Szilvi oldal</title>
    <link rel="stylesheet"
          href="/design/index.css">
</head>

<body>

    <input type="text"
           id="txtSearch">

    <button type="button"
            onclick="drawSomething();">Keresés</button>

    <ul id="jatekosFelsorolas"></ul>




    <input type="text"
    id="vezNevSearch">

<button type="button"
     onclick="drawSomethingVezName();">Keresés</button>

<ul id="vezNevJatekosFelsorolas"></ul>






    <script src="/scripts/nb1.js"></script>
    <script src="/scripts/szilvi.js"></script>
   
</body>

</html>