label {
    position: relative;
    left: 220px;
    top: 10px;
    width: 190px;
    height: 20px;
    background-color: white;
    border-radius: 5px;
    font-family: Verdana;
    font-size: 15px;
    color: black;
    padding: 5px
}

select {
    position: relative;
    left: 570px;
    top: 60px;
    color: #fff;
    background-color: darkorange;
    border-radius: 20px;
    padding: 8px;
}

span {
    position: absolute;
    color: white;
    font-family: Verdana;
    font-size: 11px;
    background-color: darkblue;
    padding: 8px;
    border-radius: 15px;
    
    }

#kapus {
    top: 440px;
    left: 250px;
}

#baloldalivedo {
    top: 240px;
    left: 400px;
}

#kozepsovedo {
    top: 385px;
    left: 400px;
}

#vedekezokozeppalyas {
    top: 310px;
    left: 480px;
}

#jobboldalivedo {
    top: 520px;
    left: 400px;
}

#belsokozeppalyas {
    top: 400px;
    left: 620px;
}

#jobboldalikozeppalyas {
    top: 550px;
    left: 600px;
}

#baloldalikozeppalyas {
    top: 230px;
    left: 600px;
}

#tamadokozeppalyas {
    top: 470px;
    left: 700px;
}

#balszelso {
    top: 220px;
    left: 820px;
}

#jobbszelso {
    top: 590px;
    left: 820px;
}

#kozepcsatar {
    top: 390px;
    left: 850px;
}

#hatravontcsatar {
    top: 300px;
    left: 750px;
}


body {
    height: 100%;
}

html {
    height: 100%;
}

.background {
    background-image: url("https://ctl.s6img.com/society6/img/rxL8SgQvidu9d6cgQADqCIXq4A0/w_1500/prints/~artwork/s6-0084/a/33158294_12749357/~~/football-field-fun-design-soccer-field-prints.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    width: 100%;
    padding: 20px;
    position: absolute;
    top: -30px;
    transition: .5s;
    text-align: center;
    
    

}


.navbar ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 50px;
    font-size: 30px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 10px;
    transition: .5s;
}

.navbar ul li a {
    text-decoration: none;
    color: black;

}

.navbar ul li:hover {
    background: yellow;
}